@mixin pages() {
  .todo-page {
    --c-0: hsla(266.99999999999983, 1%, 12%, 1);
    --y-0: 80%;
    --x-0: 85%;
    --x-1: 60%;
    --c-1: hsla(335.9999999999997, 2%, 22%, 1);
    --y-1: 24%;
    --x-2: 13%;
    --y-2: 82%;
    --c-2: hsla(53.999999999999886, 0%, 0%, 0.49);
    --c-3: hsla(299, 4%, 36%, 1);
    --y-3: 7%;
    --x-3: 24%;
    background-color: hsla(0, 0%, 0%, 1);
    background-image: radial-gradient(
        circle at var(--x-0) var(--y-0),
        var(--c-0) var(--s-start-0),
        transparent var(--s-end-0)
      ),
      radial-gradient(
        circle at var(--x-1) var(--y-1),
        var(--c-1) var(--s-start-1),
        transparent var(--s-end-1)
      ),
      radial-gradient(
        circle at var(--x-2) var(--y-2),
        var(--c-2) var(--s-start-2),
        transparent var(--s-end-2)
      ),
      radial-gradient(
        circle at var(--x-3) var(--y-3),
        var(--c-3) var(--s-start-3),
        transparent var(--s-end-3)
      );
    animation: hero-gradient-animation 10s linear infinite alternate;
    background-blend-mode: normal, normal, normal, normal;
    position: absolute;
    background-color: rgb(200, 52, 52);
    height: 100%;
    width: 100%;
    z-index: 5;
    display: none;
    // display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
    padding: 10px;
    gap: 10px;
    .top {
      height: 15%;
      width: 100%;
      background-color: rgba(254, 254, 230, 0.918);
      border-radius: 5px;
      display: flex;
      align-items: center;
      justify-content: center;
      font-family: Syne;
      text-transform: uppercase;
      position: relative;
      h1 {
        font-size: 100px;
        color: rgb(23, 23, 23);
      }
      p {
        position: absolute;
        top: 10%;
        right: 2%;
        height: 50px;
        width: 50px;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: rgba(27, 27, 27, 0.418);
        i {
          color: white;
          pointer-events: none;
        }
      }
    }
    .bot {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      height: 85%;
      gap: 10px;
      overflow: hidden;
      .left {
        width: 40%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.089);
        border-radius: 5px;
        .inp,
        textarea,
        select {
          all: unset;
          box-sizing: border-box;
          font-family: inherit;
          color: inherit;
        }
        .inp,
        textarea {
          caret-color: rgb(255, 255, 255); /* any color */
          color: white;
        }

        form {
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          height: 100%;
          width: 100%;
          gap: 10px;
          padding: 10px;
          // font-family: Syne;
          .inp {
            transition: all 0.5s ease;
            width: 80%;
            padding: 10px;
            font-size: 20px;
            height: 50px;
            font-family: nasa;
            border-radius: 5px;
            background-color: rgba(19, 19, 19, 0.329);
          }
          textarea {
            width: 80%;
            height: 200px;
            padding: 10px;
            font-size: 20px;
            font-family: nasa;
            border-radius: 5px;
            background-color: rgba(19, 19, 19, 0.329);
          }
          label {
            width: 80%;
            font-size: 20px;
            font-family: nasa;
            border-radius: 5px;
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 10px;
            color: rgb(217, 217, 217);
            padding: 20px;
            input {
              height: 25px;
              width: 25px;
            }
            p {
              user-select: none;
              -webkit-user-select: none;
              -ms-user-select: none;
            }
          }
          button {
            all: unset;
            box-sizing: border-box;
            font-family: inherit;
            color: inherit;
            display: flex;
            align-items: center;
            justify-content: center;
            height: 50px;
            width: 80%;
            font-family: nasa;
            font-weight: bold;
            font-size: 30px;
            border-radius: 5px;
            color: rgb(19, 19, 19);
            background-color: rgba(254, 254, 230, 0.918);
            transition: all 0.3s ease;
          }
          button:hover {
            background-color: rgb(145, 145, 145);
            color: white;
            // border-top: 1px solid rgba(255, 255, 255, 0.364);
            // border-bottom: 1px solid rgba(255, 255, 255, 0.364);
          }
        }
      }
      .right::-webkit-scrollbar {
        display: none;
      }
      .right {
        // background-color: blue;
        height: 100%;
        width: 60%;
        display: flex;
        position: relative;
        border-radius: 5px;
        overflow-y: auto;
        .list {
          width: 100%;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: start;
          padding: 10px;
          gap: 10px;

          .listitems {
            flex-shrink: 0;
            height: 100px;
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 5px;
            overflow: hidden;
            font-family: nasa;
            .text {
              position: relative;
              margin: 0 auto;
              display: flex;
              align-items: center;
              justify-content: center;
              width: 60%;
              height: 100%;
              background-color: rgba(254, 254, 230, 0.918);
              font-size: 50px;
              .imp {
                position: absolute;
                left: 0;
                top: 50%;
                transform: translateY(-50%);
                width: 50px;
                font-size: 20px;
                border-top-right-radius: 10px;
                border-bottom-right-radius: 10px;
                color: rgb(29, 29, 29) !important;
                background-color: red;
              }
              .grey {
                background-color: gray;
              }
              // .red {
              //   background-color: red;
              // }
            }
            .completed {
              display: flex;
              align-items: center;
              justify-content: center;
              height: 100%;
              width: 25%;
              background-color: rgb(58, 130, 58);
              font-size: 20px;
              transition: all 0.3s ease;
            }
            .delete {
              display: flex;
              align-items: center;
              justify-content: center;
              background-color: rgb(255, 58, 58);
              height: 100%;
              width: 15%;
              font-size: 20px;
              transition: all 0.3s ease;
            }
            .delete:hover {
              background-color: maroon;
              color: white;
            }
            .completed:hover {
              background-color: rgb(1, 77, 1);
              color: white;
            }
          }
        }
      }
    }
  }
  .dailyplanner-page {
    --c-0: hsla(266.99999999999983, 1%, 12%, 1);
    --y-0: 80%;
    --x-0: 85%;
    --x-1: 60%;
    --c-1: hsla(335.9999999999997, 2%, 22%, 1);
    --y-1: 24%;
    --x-2: 13%;
    --y-2: 82%;
    --c-2: hsla(53.999999999999886, 0%, 0%, 0.49);
    --c-3: hsla(299, 4%, 36%, 1);
    --y-3: 7%;
    --x-3: 24%;
    background-color: hsla(0, 0%, 0%, 1);
    background-image: radial-gradient(
        circle at var(--x-0) var(--y-0),
        var(--c-0) var(--s-start-0),
        transparent var(--s-end-0)
      ),
      radial-gradient(
        circle at var(--x-1) var(--y-1),
        var(--c-1) var(--s-start-1),
        transparent var(--s-end-1)
      ),
      radial-gradient(
        circle at var(--x-2) var(--y-2),
        var(--c-2) var(--s-start-2),
        transparent var(--s-end-2)
      ),
      radial-gradient(
        circle at var(--x-3) var(--y-3),
        var(--c-3) var(--s-start-3),
        transparent var(--s-end-3)
      );
    animation: hero-gradient-animation 10s linear infinite alternate;
    background-blend-mode: normal, normal, normal, normal;
    position: absolute;
    background-color: rgb(52, 78, 110);
    height: 100%;
    width: 100%;
    z-index: 5;

    display: none;
    // display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
    padding: 10px;
    gap: 10px;
    .top {
      height: 15%;
      width: 100%;
      background-color: rgba(254, 254, 230, 0.918);
      border-radius: 5px;
      display: flex;
      align-items: center;
      justify-content: center;
      font-family: Syne;
      text-transform: uppercase;
      position: relative;
      h1 {
        font-size: 100px;
        color: rgb(23, 23, 23);
      }
      p {
        position: absolute;
        top: 10%;
        right: 2%;
        height: 50px;
        width: 50px;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: rgba(27, 27, 27, 0.418);
        i {
          color: white;
          pointer-events: none;
        }
      }
    }
    .bot {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      height: 85%;
      gap: 10px;

      .inside {
        height: 100%;
        width: 100%;
        background-color: rgba(0, 0, 0, 0.089);
        border-radius: 5px;
        padding: 30px;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        flex-wrap: wrap;
        gap: 20px;
        overflow: auto;
        .items {
          height: 70px;
          flex-shrink: 0;
          display: flex;
          align-items: center;
          width: 45%;
          overflow: hidden;
          border-radius: 5px;
          border: 1px solid rgba(255, 255, 255, 0.31);
          p {
            width: 20%;
            font-size: 13px;
            text-align: center;
            border-right: 1px solid rgb(255, 255, 255);
            font-family: ceta;
            padding: 10px;
            color: rgba(254, 254, 230, 0.918);
            white-space: nowrap;
          }
          input {
            all: unset;
            flex: 1;
            box-sizing: border-box;
            font-family: ceta;
            padding: 10px;
            font-size: 15px;
            line-height: 40px;
            color: rgba(254, 254, 230, 0.918);
            text-transform: capitalize;
            font-weight: 200;
            overflow-x: auto;
          }
          input::placeholder {
            color: rgba(166, 166, 166, 0.246);
            font-family: ceta;
            text-transform: capitalize;
            opacity: 1;
            transition: opacity 0.2s ease;
          }
          input:focus::placeholder {
            opacity: 0;
          }
        }
      }
    }
  }
  .motivational-page {
    --c-0: hsla(266.99999999999983, 1%, 12%, 1);
    --y-0: 80%;
    --x-0: 85%;
    --x-1: 60%;
    --c-1: hsla(335.9999999999997, 2%, 22%, 1);
    --y-1: 24%;
    --x-2: 13%;
    --y-2: 82%;
    --c-2: hsla(53.999999999999886, 0%, 0%, 0.49);
    --c-3: hsla(299, 4%, 36%, 1);
    --y-3: 7%;
    --x-3: 24%;
    background-color: hsla(0, 0%, 0%, 1);
    background-image: radial-gradient(
        circle at var(--x-0) var(--y-0),
        var(--c-0) var(--s-start-0),
        transparent var(--s-end-0)
      ),
      radial-gradient(
        circle at var(--x-1) var(--y-1),
        var(--c-1) var(--s-start-1),
        transparent var(--s-end-1)
      ),
      radial-gradient(
        circle at var(--x-2) var(--y-2),
        var(--c-2) var(--s-start-2),
        transparent var(--s-end-2)
      ),
      radial-gradient(
        circle at var(--x-3) var(--y-3),
        var(--c-3) var(--s-start-3),
        transparent var(--s-end-3)
      );
    animation: hero-gradient-animation 10s linear infinite alternate;
    background-blend-mode: normal, normal, normal, normal;
    position: absolute;
    background-color: #b89b5b;
    height: 100%;
    width: 100%;
    z-index: 5;

    display: none;
    // display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
    padding: 10px;
    gap: 10px;
    .top {
      height: 15%;
      width: 100%;
      background-color: rgba(254, 254, 230, 0.918);
      border-radius: 5px;
      display: flex;
      align-items: center;
      justify-content: center;
      font-family: Syne;
      text-transform: uppercase;
      position: relative;
      h1 {
        font-size: 100px;
        color: rgb(23, 23, 23);
      }
      p {
        position: absolute;
        top: 10%;
        right: 2%;
        height: 50px;
        width: 50px;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: rgba(27, 27, 27, 0.418);
        i {
          color: white;
          pointer-events: none;
        }
      }
    }
    .bot {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      height: 85%;
      gap: 10px;

      .inside {
        height: 100%;
        width: 100%;
        background-color: rgba(0, 0, 0, 0.089);
        border-radius: 5px;
        padding: 30px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 20px;
        .quoteDiv {
          padding: 20px;
          height: 400px;
          width: 800px;
          background-color: rgb(253, 210, 100);
          border: 1px solid rgba(255, 255, 255, 0.419);
          border-radius: 20px;
          display: flex;
          align-items: center;
          justify-content: center;
          position: relative;
          box-shadow: 0 0 200px #fdd264;
          animation: opa 5s ease-in-out infinite alternate;

          .left {
            height: 100%;
            width: 100%;
            font-size: 35px;
            font-family: Syne;
            text-transform: uppercase;
            display: flex;
            align-items: center;
            flex-direction: column;
            justify-content: space-evenly;
            color: rgb(54, 54, 54);
            border-top: 2px solid rgb(255, 255, 255);
            .name {
              border-bottom: 2px solid rgb(255, 255, 255);
            }
          }
          .right1 {
            position: absolute;
            top: -10%;
            right: 0%;
            font-family: Syne;
            font-size: 150px;
            color: rgba(49, 49, 49, 0.283);
            align-self: flex-start;
            color: transparent;
            -webkit-text-stroke: 5px rgba(49, 49, 49, 0.5);
            background-color: rgba(255, 0, 0, 0);
            -webkit-background-clip: text;
            background-clip: text;
          }
          .right2 {
            position: absolute;
            bottom: -10%;
            left: 0%;
            font-family: Syne;
            font-size: 150px;
            color: rgba(49, 49, 49, 0.283);
            align-self: flex-start;
            color: transparent;
            -webkit-text-stroke: 5px rgba(49, 49, 49, 0.5);
            background-color: rgba(255, 0, 0, 0);
            -webkit-background-clip: text;
            background-clip: text;
            rotate: 180deg;
          }
        }
        .quoteDiv::after {
          content: "";
          position: absolute;
          inset: 0;
          background-color: rgb(255, 215, 140);
          border-radius: 10px;
          z-index: -1;
          filter: blur(100px);
        }
        .btn {
          border-radius: 15px;
          display: flex;
          align-items: center;
          justify-content: center;
          font-size: 30px;
          padding: 20px;
          font-family: Syne;
          font-weight: bold;
          text-transform: uppercase;
          color: rgb(54, 54, 54);
          background-color: rgba(254, 254, 230, 0.918);
          border: 1px solid rgba(255, 255, 255, 0.419);
          transition: all 0.3s ease;
        }
        .btn:active {
          background-color: rgba(187, 187, 169, 0.918);
          cursor: pointer;
        }
        .btn:hover {
          cursor: pointer;
          transform: scale(0.99);
        }
      }
    }
    @keyframes opa {
      from {
        box-shadow: 0 0 50px #fdd264;
      }
      to {
        box-shadow: 0 0 0px #fdd264;
      }
    }
  }
  .pomodoro-page {
    --c-0: hsla(266.99999999999983, 1%, 12%, 1);
    --y-0: 80%;
    --x-0: 85%;
    --x-1: 60%;
    --c-1: hsla(335.9999999999997, 2%, 22%, 1);
    --y-1: 24%;
    --x-2: 13%;
    --y-2: 82%;
    --c-2: hsla(53.999999999999886, 0%, 0%, 0.49);
    --c-3: hsla(299, 4%, 36%, 1);
    --y-3: 7%;
    --x-3: 24%;
    background-color: hsla(0, 0%, 0%, 1);
    background-image: radial-gradient(
        circle at var(--x-0) var(--y-0),
        var(--c-0) var(--s-start-0),
        transparent var(--s-end-0)
      ),
      radial-gradient(
        circle at var(--x-1) var(--y-1),
        var(--c-1) var(--s-start-1),
        transparent var(--s-end-1)
      ),
      radial-gradient(
        circle at var(--x-2) var(--y-2),
        var(--c-2) var(--s-start-2),
        transparent var(--s-end-2)
      ),
      radial-gradient(
        circle at var(--x-3) var(--y-3),
        var(--c-3) var(--s-start-3),
        transparent var(--s-end-3)
      );
    animation: hero-gradient-animation 10s linear infinite alternate;
    background-blend-mode: normal, normal, normal, normal;
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 5;
    background-color: rgb(120, 0, 160);
    // display: none;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
    padding: 10px;
    gap: 10px;
    .top {
      height: 15%;
      width: 100%;
      background-color: rgba(254, 254, 230, 0.918);
      border-radius: 5px;
      display: flex;
      align-items: center;
      justify-content: center;
      font-family: Syne;
      text-transform: uppercase;
      position: relative;
      h1 {
        font-size: 100px;
        color: rgb(23, 23, 23);
      }
      p {
        position: absolute;
        top: 10%;
        right: 2%;
        height: 50px;
        width: 50px;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: rgba(27, 27, 27, 0.418);
        i {
          color: white;
          pointer-events: none;
        }
      }
    }
    .bot {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      height: 85%;
      gap: 10px;
      .inside {
        height: 100%;
        width: 100%;
        background-color: rgba(0, 0, 0, 0.089);
        border-radius: 5px;
        padding: 30px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 20px;
        .timerDiv {
          border-radius: 10px;
          backdrop-filter: blur(50px);
          color: white;
          display: flex;
          align-items: center;
          justify-content: space-between;
          flex-direction: column;
          overflow: hidden;
          width: 50%;
          .tabs {
            width: 100%;
            background-color: black;
            font-size: 30px;
            font-family: nasa;
            display: flex;
            align-items: center;
            justify-content: space-between;
            overflow: hidden;

            .pomo {
              background-color: rgb(145, 0, 193);
            }
            .longBreak {
              background-color: rgb(209, 72, 255);
            }
            .shortBreak {
              background-color: rgb(225, 134, 255);
            }
            .longBreak,
            .pomo,
            .shortBreak {
              user-select: none;
              cursor: pointer;
              padding: 20px;
              transition: all 0.3s ease-in-out;
              border-bottom: 1px solid transparent;
              width: 33.3%;
              text-align: center;
            }
            .shortBreak:hover,
            .pomo:hover,
            .longBreak:hover {
              color: rgba(254, 254, 230, 0.918);
              background-color: rgb(34, 34, 34);
              border-bottom: 1px solid rgb(255, 255, 255);
            }
            .shortBreak:active,
            .pomo:active,
            .longBreak:active {
              transform: scale(0.9);
              background-color: rgb(92, 92, 92);
            }
          }
          .timer {
            width: 100%;
            height: 300px;
            font-size: 250px;
            font-family: nasa;
            display: flex;
            align-items: center;
            justify-content: center;
            border-left: 1px solid rgba(191, 0, 255, 0.267);
            border-right: 1px solid rgba(191, 0, 255, 0.267);
            span {
              display: flex;
              flex-direction: column;
              font-size: 30px;
              gap: 20px;
            }
          }
          .btn {
            background-color: black;
            width: 100%;
            display: flex;
            gap: 1px;

            .btn1 {
              width: 50%;
              border: none;
              padding: 20px 50px;
              font-size: 50px;
              font-family: nasa;
              transition: all 0.3s ease;
              background-color: rgba(254, 254, 230, 0.918);
              cursor: pointer;
            }
            .btn2 {
              width: 50%;
              border: none;
              padding: 20px 50px;
              font-size: 50px;
              font-family: nasa;
              transition: all 0.3s ease;
              background-color: rgb(200, 52, 52);
              cursor: pointer;
            }
            .btn1:hover,
            .btn2:hover {
              color: rgba(254, 254, 230, 0.918);
              background-color: rgb(34, 34, 34);
            }
            .btn1:active,
            .btn2:active {
              transform: scale(0.95);
              background-color: rgb(92, 92, 92);
            }
          }
        }
      }
    }
  }
  .kanban-page {
    position: absolute;
    background-color: red;
    height: 100%;
    width: 100%;
    z-index: 5;
    display: none;
    align-items: center;
    justify-content: space-around;
    gap: 20px;
    .left {
    }
    .right {
      p {
        height: 50px;
        width: 50px;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: rgba(128, 128, 128, 0.418);
        i {
          pointer-events: none;
        }
      }
    }
  }
}
