* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: nasa;
  src: url(./fonts/Nasalization\ Rg.otf);
}
@font-face {
  font-family: ceta;
  src: url(./fonts/5ceta_mono.ttf);
}
@font-face {
  font-family: Syne;
  src: url(./fonts/Syne-Extra.otf);
}
.done {
  color: grey;
  text-decoration: line-through;
}

html,
body {
  height: 100%;
  width: 100%;
}

main {
  height: 100vh;
  width: 100%;
  --c-0: hsla(266.99999999999983, 1%, 12%, 1);
  --y-0: 80%;
  --x-0: 85%;
  --x-1: 60%;
  --c-1: hsla(335.9999999999997, 2%, 22%, 1);
  --y-1: 24%;
  --x-2: 13%;
  --y-2: 82%;
  --c-2: hsla(53.999999999999886, 0%, 0%, 0.49);
  --c-3: rgb(89, 88, 95);
  --y-3: 7%;
  --x-3: 24%;
  background-color: hsl(0, 0%, 0%);
  background-image: radial-gradient(circle at var(--x-0) var(--y-0), var(--c-0) var(--s-start-0), transparent var(--s-end-0)), radial-gradient(circle at var(--x-1) var(--y-1), var(--c-1) var(--s-start-1), transparent var(--s-end-1)), radial-gradient(circle at var(--x-2) var(--y-2), var(--c-2) var(--s-start-2), transparent var(--s-end-2)), radial-gradient(circle at var(--x-3) var(--y-3), var(--c-3) var(--s-start-3), transparent var(--s-end-3));
  animation: hero-gradient-animation 10s linear infinite alternate;
  background-blend-mode: normal, normal, normal, normal;
  padding: 25px 50px;
  position: relative;
}

#container {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
}
#container .todo-page {
  --c-0: hsla(266.99999999999983, 1%, 12%, 1);
  --y-0: 80%;
  --x-0: 85%;
  --x-1: 60%;
  --c-1: hsla(335.9999999999997, 2%, 22%, 1);
  --y-1: 24%;
  --x-2: 13%;
  --y-2: 82%;
  --c-2: hsla(53.999999999999886, 0%, 0%, 0.49);
  --c-3: hsla(299, 4%, 36%, 1);
  --y-3: 7%;
  --x-3: 24%;
  background-color: hsl(0, 0%, 0%);
  background-image: radial-gradient(circle at var(--x-0) var(--y-0), var(--c-0) var(--s-start-0), transparent var(--s-end-0)), radial-gradient(circle at var(--x-1) var(--y-1), var(--c-1) var(--s-start-1), transparent var(--s-end-1)), radial-gradient(circle at var(--x-2) var(--y-2), var(--c-2) var(--s-start-2), transparent var(--s-end-2)), radial-gradient(circle at var(--x-3) var(--y-3), var(--c-3) var(--s-start-3), transparent var(--s-end-3));
  animation: hero-gradient-animation 10s linear infinite alternate;
  background-blend-mode: normal, normal, normal, normal;
  position: absolute;
  background-color: rgb(200, 52, 52);
  height: 100%;
  width: 100%;
  z-index: 5;
  display: none;
  align-items: center;
  flex-direction: column;
  justify-content: space-around;
  padding: 10px;
  gap: 10px;
}
#container .todo-page .top {
  height: 15%;
  width: 100%;
  background-color: rgba(254, 254, 230, 0.918);
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Syne;
  text-transform: uppercase;
  position: relative;
}
#container .todo-page .top h1 {
  font-size: 100px;
  color: rgb(23, 23, 23);
}
#container .todo-page .top p {
  position: absolute;
  top: 10%;
  right: 2%;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(27, 27, 27, 0.418);
}
#container .todo-page .top p i {
  color: white;
  pointer-events: none;
}
#container .todo-page .bot {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 85%;
  gap: 10px;
  overflow: hidden;
}
#container .todo-page .bot .left {
  width: 40%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.089);
  border-radius: 5px;
}
#container .todo-page .bot .left .inp,
#container .todo-page .bot .left textarea,
#container .todo-page .bot .left select {
  all: unset;
  box-sizing: border-box;
  font-family: inherit;
  color: inherit;
}
#container .todo-page .bot .left .inp,
#container .todo-page .bot .left textarea {
  caret-color: rgb(255, 255, 255); /* any color */
  color: white;
}
#container .todo-page .bot .left form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  gap: 10px;
  padding: 10px;
}
#container .todo-page .bot .left form .inp {
  transition: all 0.5s ease;
  width: 80%;
  padding: 10px;
  font-size: 20px;
  height: 50px;
  font-family: nasa;
  border-radius: 5px;
  background-color: rgba(19, 19, 19, 0.329);
}
#container .todo-page .bot .left form textarea {
  width: 80%;
  height: 200px;
  padding: 10px;
  font-size: 20px;
  font-family: nasa;
  border-radius: 5px;
  background-color: rgba(19, 19, 19, 0.329);
}
#container .todo-page .bot .left form label {
  width: 80%;
  font-size: 20px;
  font-family: nasa;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  color: rgb(217, 217, 217);
  padding: 20px;
}
#container .todo-page .bot .left form label input {
  height: 25px;
  width: 25px;
}
#container .todo-page .bot .left form label p {
  -moz-user-select: none;
       user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}
#container .todo-page .bot .left form button {
  all: unset;
  box-sizing: border-box;
  font-family: inherit;
  color: inherit;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  width: 80%;
  font-family: nasa;
  font-weight: bold;
  font-size: 30px;
  border-radius: 5px;
  color: rgb(19, 19, 19);
  background-color: rgba(254, 254, 230, 0.918);
  transition: all 0.3s ease;
}
#container .todo-page .bot .left form button:hover {
  background-color: rgb(145, 145, 145);
  color: white;
}
#container .todo-page .bot .right::-webkit-scrollbar {
  display: none;
}
#container .todo-page .bot .right {
  height: 100%;
  width: 60%;
  display: flex;
  position: relative;
  border-radius: 5px;
  overflow-y: auto;
}
#container .todo-page .bot .right .list {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  padding: 10px;
  gap: 10px;
}
#container .todo-page .bot .right .list .listitems {
  flex-shrink: 0;
  height: 100px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  overflow: hidden;
  font-family: nasa;
}
#container .todo-page .bot .right .list .listitems .text {
  position: relative;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60%;
  height: 100%;
  background-color: rgba(254, 254, 230, 0.918);
  font-size: 50px;
}
#container .todo-page .bot .right .list .listitems .text .imp {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 50px;
  font-size: 20px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  color: rgb(29, 29, 29) !important;
  background-color: red;
}
#container .todo-page .bot .right .list .listitems .text .grey {
  background-color: gray;
}
#container .todo-page .bot .right .list .listitems .completed {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 25%;
  background-color: rgb(58, 130, 58);
  font-size: 20px;
  transition: all 0.3s ease;
}
#container .todo-page .bot .right .list .listitems .delete {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(255, 58, 58);
  height: 100%;
  width: 15%;
  font-size: 20px;
  transition: all 0.3s ease;
}
#container .todo-page .bot .right .list .listitems .delete:hover {
  background-color: maroon;
  color: white;
}
#container .todo-page .bot .right .list .listitems .completed:hover {
  background-color: rgb(1, 77, 1);
  color: white;
}
#container .dailyplanner-page {
  --c-0: hsla(266.99999999999983, 1%, 12%, 1);
  --y-0: 80%;
  --x-0: 85%;
  --x-1: 60%;
  --c-1: hsla(335.9999999999997, 2%, 22%, 1);
  --y-1: 24%;
  --x-2: 13%;
  --y-2: 82%;
  --c-2: hsla(53.999999999999886, 0%, 0%, 0.49);
  --c-3: hsla(299, 4%, 36%, 1);
  --y-3: 7%;
  --x-3: 24%;
  background-color: hsl(0, 0%, 0%);
  background-image: radial-gradient(circle at var(--x-0) var(--y-0), var(--c-0) var(--s-start-0), transparent var(--s-end-0)), radial-gradient(circle at var(--x-1) var(--y-1), var(--c-1) var(--s-start-1), transparent var(--s-end-1)), radial-gradient(circle at var(--x-2) var(--y-2), var(--c-2) var(--s-start-2), transparent var(--s-end-2)), radial-gradient(circle at var(--x-3) var(--y-3), var(--c-3) var(--s-start-3), transparent var(--s-end-3));
  animation: hero-gradient-animation 10s linear infinite alternate;
  background-blend-mode: normal, normal, normal, normal;
  position: absolute;
  background-color: rgb(13, 78, 158);
  height: 100%;
  width: 100%;
  z-index: 5;
  display: none;
  align-items: center;
  flex-direction: column;
  justify-content: space-around;
  padding: 10px;
  gap: 10px;
}
#container .dailyplanner-page .top {
  height: 15%;
  width: 100%;
  background-color: rgba(254, 254, 230, 0.918);
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Syne;
  text-transform: uppercase;
  position: relative;
}
#container .dailyplanner-page .top h1 {
  font-size: 100px;
  color: rgb(23, 23, 23);
}
#container .dailyplanner-page .top p {
  position: absolute;
  top: 10%;
  right: 2%;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(27, 27, 27, 0.418);
}
#container .dailyplanner-page .top p i {
  color: white;
  pointer-events: none;
}
#container .dailyplanner-page .bot {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 85%;
  gap: 10px;
}
#container .dailyplanner-page .bot .inside {
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.089);
  border-radius: 5px;
  padding: 30px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
  overflow: auto;
}
#container .dailyplanner-page .bot .inside .items {
  height: 70px;
  flex-shrink: 0;
  display: flex;
  align-items: center;
  width: 45%;
  overflow: hidden;
  border-radius: 10px;
  border: 1px solid rgb(13, 78, 158);
  background: linear-gradient(45deg, rgba(0, 115, 255, 0), rgba(22, 22, 22, 0.397));
}
#container .dailyplanner-page .bot .inside .items p {
  width: 25%;
  font-size: 25px;
  text-align: center;
  border-right: 1px solid rgb(255, 255, 255);
  font-family: nasa;
  padding: 10px;
  color: rgba(254, 254, 230, 0.918);
  white-space: nowrap;
}
#container .dailyplanner-page .bot .inside .items input {
  all: unset;
  flex: 1;
  box-sizing: border-box;
  font-family: nasa;
  padding: 10px;
  font-size: 25px;
  line-height: 40px;
  color: rgba(254, 254, 230, 0.918);
  font-weight: 200;
  overflow-x: auto;
}
#container .dailyplanner-page .bot .inside .items input::-moz-placeholder {
  color: rgba(166, 166, 166, 0.246);
  font-family: nasa;
  opacity: 1;
  font-size: 20px;
  -moz-transition: opacity 0.2s ease;
  transition: opacity 0.2s ease;
}
#container .dailyplanner-page .bot .inside .items input::placeholder {
  color: rgba(166, 166, 166, 0.246);
  font-family: nasa;
  opacity: 1;
  font-size: 20px;
  transition: opacity 0.2s ease;
}
#container .dailyplanner-page .bot .inside .items input:focus::-moz-placeholder {
  opacity: 0;
}
#container .dailyplanner-page .bot .inside .items input:focus::placeholder {
  opacity: 0;
}
#container .motivational-page {
  --c-0: hsla(266.99999999999983, 1%, 12%, 1);
  --y-0: 80%;
  --x-0: 85%;
  --x-1: 60%;
  --c-1: hsla(335.9999999999997, 2%, 22%, 1);
  --y-1: 24%;
  --x-2: 13%;
  --y-2: 82%;
  --c-2: hsla(53.999999999999886, 0%, 0%, 0.49);
  --c-3: hsla(299, 4%, 36%, 1);
  --y-3: 7%;
  --x-3: 24%;
  background-color: hsl(0, 0%, 0%);
  background-image: radial-gradient(circle at var(--x-0) var(--y-0), var(--c-0) var(--s-start-0), transparent var(--s-end-0)), radial-gradient(circle at var(--x-1) var(--y-1), var(--c-1) var(--s-start-1), transparent var(--s-end-1)), radial-gradient(circle at var(--x-2) var(--y-2), var(--c-2) var(--s-start-2), transparent var(--s-end-2)), radial-gradient(circle at var(--x-3) var(--y-3), var(--c-3) var(--s-start-3), transparent var(--s-end-3));
  animation: hero-gradient-animation 10s linear infinite alternate;
  background-blend-mode: normal, normal, normal, normal;
  position: absolute;
  background-color: #b89b5b;
  height: 100%;
  width: 100%;
  z-index: 5;
  display: none;
  align-items: center;
  flex-direction: column;
  justify-content: space-around;
  padding: 10px;
  gap: 10px;
}
#container .motivational-page .top {
  height: 15%;
  width: 100%;
  background-color: rgba(254, 254, 230, 0.918);
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Syne;
  text-transform: uppercase;
  position: relative;
}
#container .motivational-page .top h1 {
  font-size: 100px;
  color: rgb(23, 23, 23);
}
#container .motivational-page .top p {
  position: absolute;
  top: 10%;
  right: 2%;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(27, 27, 27, 0.418);
}
#container .motivational-page .top p i {
  color: white;
  pointer-events: none;
}
#container .motivational-page .bot {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 85%;
  gap: 10px;
}
#container .motivational-page .bot .inside {
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.089);
  border-radius: 5px;
  padding: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
#container .motivational-page .bot .inside .quoteDiv {
  padding: 20px;
  height: 400px;
  width: 800px;
  background-color: rgb(253, 210, 100);
  border: 1px solid rgba(255, 255, 255, 0.419);
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  box-shadow: 0 0 200px #fdd264;
  animation: opa 5s ease-in-out infinite alternate;
}
#container .motivational-page .bot .inside .quoteDiv .left {
  height: 100%;
  width: 100%;
  font-size: 35px;
  font-family: Syne;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-evenly;
  color: rgb(54, 54, 54);
  border-top: 2px solid rgb(255, 255, 255);
}
#container .motivational-page .bot .inside .quoteDiv .left .name {
  border-bottom: 2px solid rgb(255, 255, 255);
}
#container .motivational-page .bot .inside .quoteDiv .right1 {
  position: absolute;
  top: -10%;
  right: 0%;
  font-family: Syne;
  font-size: 150px;
  color: rgba(49, 49, 49, 0.283);
  align-self: flex-start;
  color: transparent;
  -webkit-text-stroke: 5px rgba(49, 49, 49, 0.5);
  background-color: rgba(255, 0, 0, 0);
  -webkit-background-clip: text;
  background-clip: text;
}
#container .motivational-page .bot .inside .quoteDiv .right2 {
  position: absolute;
  bottom: -10%;
  left: 0%;
  font-family: Syne;
  font-size: 150px;
  color: rgba(49, 49, 49, 0.283);
  align-self: flex-start;
  color: transparent;
  -webkit-text-stroke: 5px rgba(49, 49, 49, 0.5);
  background-color: rgba(255, 0, 0, 0);
  -webkit-background-clip: text;
  background-clip: text;
  rotate: 180deg;
}
#container .motivational-page .bot .inside .quoteDiv::after {
  content: "";
  position: absolute;
  inset: 0;
  background-color: rgb(255, 215, 140);
  border-radius: 10px;
  z-index: -1;
  filter: blur(100px);
}
#container .motivational-page .bot .inside .btn {
  border-radius: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 30px;
  padding: 20px;
  font-family: Syne;
  font-weight: bold;
  text-transform: uppercase;
  color: rgb(54, 54, 54);
  background-color: rgba(254, 254, 230, 0.918);
  border: 1px solid rgba(255, 255, 255, 0.419);
  transition: all 0.3s ease;
}
#container .motivational-page .bot .inside .btn:active {
  background-color: rgba(187, 187, 169, 0.918);
  cursor: pointer;
}
#container .motivational-page .bot .inside .btn:hover {
  cursor: pointer;
  transform: scale(0.99);
}
@keyframes opa {
  from {
    box-shadow: 0 0 50px #fdd264;
  }
  to {
    box-shadow: 0 0 0px #fdd264;
  }
}
#container .pomodoro-page {
  --c-0: hsla(266.99999999999983, 1%, 12%, 1);
  --y-0: 80%;
  --x-0: 85%;
  --x-1: 60%;
  --c-1: hsla(335.9999999999997, 2%, 22%, 1);
  --y-1: 24%;
  --x-2: 13%;
  --y-2: 82%;
  --c-2: hsla(53.999999999999886, 0%, 0%, 0.49);
  --c-3: hsla(299, 4%, 36%, 1);
  --y-3: 7%;
  --x-3: 24%;
  background-color: hsl(0, 0%, 0%);
  background-image: radial-gradient(circle at var(--x-0) var(--y-0), var(--c-0) var(--s-start-0), transparent var(--s-end-0)), radial-gradient(circle at var(--x-1) var(--y-1), var(--c-1) var(--s-start-1), transparent var(--s-end-1)), radial-gradient(circle at var(--x-2) var(--y-2), var(--c-2) var(--s-start-2), transparent var(--s-end-2)), radial-gradient(circle at var(--x-3) var(--y-3), var(--c-3) var(--s-start-3), transparent var(--s-end-3));
  animation: hero-gradient-animation 10s linear infinite alternate;
  background-blend-mode: normal, normal, normal, normal;
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: 5;
  background-color: rgb(120, 0, 160);
  display: none;
  align-items: center;
  flex-direction: column;
  justify-content: space-around;
  padding: 10px;
  gap: 10px;
}
#container .pomodoro-page .top {
  height: 15%;
  width: 100%;
  background-color: rgba(254, 254, 230, 0.918);
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Syne;
  text-transform: uppercase;
  position: relative;
}
#container .pomodoro-page .top h1 {
  font-size: 100px;
  color: rgb(23, 23, 23);
}
#container .pomodoro-page .top p {
  position: absolute;
  top: 10%;
  right: 2%;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(27, 27, 27, 0.418);
}
#container .pomodoro-page .top p i {
  color: white;
  pointer-events: none;
}
#container .pomodoro-page .bot {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 85%;
  gap: 10px;
}
#container .pomodoro-page .bot .inside {
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.089);
  border-radius: 5px;
  padding: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
#container .pomodoro-page .bot .inside .timerDiv {
  border-radius: 10px;
  -webkit-backdrop-filter: blur(50px);
          backdrop-filter: blur(50px);
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  overflow: hidden;
  width: 50%;
}
#container .pomodoro-page .bot .inside .timerDiv .tabs {
  width: 100%;
  background-color: black;
  font-size: 30px;
  font-family: nasa;
  display: flex;
  align-items: center;
  justify-content: space-between;
  overflow: hidden;
}
#container .pomodoro-page .bot .inside .timerDiv .tabs .pomo {
  background-color: rgb(145, 0, 193);
}
#container .pomodoro-page .bot .inside .timerDiv .tabs .longBreak {
  background-color: rgb(209, 72, 255);
}
#container .pomodoro-page .bot .inside .timerDiv .tabs .shortBreak {
  background-color: rgb(225, 134, 255);
}
#container .pomodoro-page .bot .inside .timerDiv .tabs .longBreak,
#container .pomodoro-page .bot .inside .timerDiv .tabs .pomo,
#container .pomodoro-page .bot .inside .timerDiv .tabs .shortBreak {
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  cursor: pointer;
  padding: 20px;
  transition: all 0.3s ease-in-out;
  border-bottom: 1px solid transparent;
  width: 33.3%;
  text-align: center;
}
#container .pomodoro-page .bot .inside .timerDiv .tabs .shortBreak:hover,
#container .pomodoro-page .bot .inside .timerDiv .tabs .pomo:hover,
#container .pomodoro-page .bot .inside .timerDiv .tabs .longBreak:hover {
  color: rgba(254, 254, 230, 0.918);
  background-color: rgb(34, 34, 34);
  border-bottom: 1px solid rgb(255, 255, 255);
}
#container .pomodoro-page .bot .inside .timerDiv .tabs .shortBreak:active,
#container .pomodoro-page .bot .inside .timerDiv .tabs .pomo:active,
#container .pomodoro-page .bot .inside .timerDiv .tabs .longBreak:active {
  transform: scale(0.9);
  background-color: rgb(92, 92, 92);
}
#container .pomodoro-page .bot .inside .timerDiv .timer {
  width: 100%;
  height: 300px;
  font-size: 250px;
  font-family: helvetica neue, open sans, Helvetica, Arial, sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 25px;
  border-left: 1px solid rgba(191, 0, 255, 0.267);
  border-right: 1px solid rgba(191, 0, 255, 0.267);
  box-shadow: inset 0px 0px 100px rgba(120, 0, 160, 0.283);
}
#container .pomodoro-page .bot .inside .timerDiv .timer span {
  display: flex;
  flex-direction: column;
  font-size: 30px;
  gap: 50px;
}
#container .pomodoro-page .bot .inside .timerDiv .btn {
  background-color: black;
  width: 100%;
  display: flex;
  gap: 1px;
}
#container .pomodoro-page .bot .inside .timerDiv .btn .btn1 {
  width: 50%;
  border: none;
  padding: 20px 50px;
  font-size: 50px;
  font-family: nasa;
  transition: all 0.3s ease;
  background-color: rgba(254, 254, 230, 0.918);
  cursor: pointer;
}
#container .pomodoro-page .bot .inside .timerDiv .btn .btn2 {
  width: 50%;
  border: none;
  padding: 20px 50px;
  font-size: 50px;
  font-family: nasa;
  transition: all 0.3s ease;
  background-color: rgb(200, 52, 52);
  cursor: pointer;
}
#container .pomodoro-page .bot .inside .timerDiv .btn .btn1:hover,
#container .pomodoro-page .bot .inside .timerDiv .btn .btn2:hover {
  color: rgba(254, 254, 230, 0.918);
  background-color: rgb(34, 34, 34);
}
#container .pomodoro-page .bot .inside .timerDiv .btn .btn1:active,
#container .pomodoro-page .bot .inside .timerDiv .btn .btn2:active {
  transform: scale(0.95);
  background-color: rgb(92, 92, 92);
}
#container .kanban-page {
  position: absolute;
  background-color: red;
  height: 100%;
  width: 100%;
  z-index: 5;
  display: none;
  align-items: center;
  justify-content: space-around;
  gap: 20px;
}
#container .kanban-page .right p {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(128, 128, 128, 0.418);
}
#container .kanban-page .right p i {
  pointer-events: none;
}
#container #bot-section {
  overflow: hidden;
  height: 100%;
  width: 100%;
  border-radius: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1.5fr 1.5fr 1fr;
  grid-template-areas: "top-left top-mid top-mid top-top-right " "top-left top-mid top-mid top-bot-right" "bot-top-left bot-mid-left bot-mid-right bot-right" "bot-bot-left bot-mid-left bot-mid-right bot-right ";
  gap: 10px;
  padding: 10px;
}
#container #bot-section .top-left.weather-sec1 {
  border: 1px solid rgba(128, 128, 128, 0.417);
  border-radius: 20px;
  grid-area: top-left;
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  overflow: hidden;
  padding: 40px;
  color: white;
  font-family: helvetica neue, open sans, Helvetica, Arial, sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: relative;
  z-index: 1;
}
#container #bot-section .top-left.weather-sec1 .top h1 {
  font-size: 50px;
  padding: 10px;
  border-bottom: 1px solid white;
}
#container #bot-section .top-left.weather-sec1 .top h2 {
  font-size: 150px;
  font-family: nasa;
}
#container #bot-section .top-left.weather-sec1 .bot {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
#container #bot-section .top-left.weather-sec1 .bot img {
  width: 110px;
}
#container #bot-section .top-left.weather-sec1 .bot div {
  line-height: 1.5;
  padding: 10px;
  border-left: 1px solid white;
}
#container #bot-section .top-left.weather-sec1 .bot div h2 {
  font-size: 30px;
  letter-spacing: 3px;
}
#container #bot-section .top-left.weather-sec1 .bot div h3 {
  font-size: 15px;
  letter-spacing: 3px;
}
#container #bot-section .top-left.weather-sec1::before {
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  height: 100%; /* height of background */
  background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 1799 1799' xmlns='http://www.w3.org/2000/svg'%3E%3Cfilter id='noiseFilter'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='0.65' numOctaves='3' stitchTiles='stitch'/%3E%3C/filter%3E%3Crect width='100%25' height='100%25' filter='url(%23noiseFilter)'/%3E%3C/svg%3E");
  background-blend-mode: screen;
  z-index: 3;
  opacity: 0.2;
}
#container #bot-section .top-mid {
  border-radius: 20px;
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  grid-area: top-mid;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  background-color: black;
  border: 1px solid rgba(178, 178, 178, 0.417);
}
#container #bot-section .top-mid .div1 {
  height: 100%;
  width: 50%;
}
#container #bot-section .top-mid .div1 div {
  border-radius: 15px;
  overflow: hidden;
  height: 30%;
  width: 100%;
}
#container #bot-section .top-mid .div1 div img {
  height: 100%;
  width: 100%;
  -o-object-position: 50% 20%;
     object-position: 50% 20%;
  -o-object-fit: cover;
     object-fit: cover;
  filter: saturate(80%) contrast(90%);
}
#container #bot-section .top-mid .div1 h1 {
  text-shadow: 0px 0px 50px rgb(44, 44, 44);
  text-align: justify;
  line-height: 0.9;
  align-self: flex-end;
  width: 100%;
  height: 70%;
  text-transform: capitalize;
  white-space: normal;
  word-break: break-word;
  font-size: 85px;
  font-family: Syne;
  color: white;
  opacity: 1;
  position: relative;
}
#container #bot-section .top-mid .div1 h1::after {
  content: "";
  position: absolute;
  bottom: 20%;
  right: 0;
  width: 100px; /* length of the corner */
  height: 100px;
  border-right: 3px solid rgb(255, 255, 255);
  border-bottom: 3px solid rgb(255, 255, 255);
}
#container #bot-section .top-mid .div2 {
  height: 100%;
  width: 50%;
}
#container #bot-section .top-mid .div2 div {
  border-radius: 15px;
  overflow: hidden;
  height: 60%;
  width: 100%;
}
#container #bot-section .top-mid .div2 div img {
  height: 100%;
  width: 150%;
  -o-object-position: 0% 80%;
     object-position: 0% 80%;
  -o-object-fit: cover;
     object-fit: cover;
  filter: grayscale(100%);
}
#container #bot-section .top-mid .div2 h1 {
  align-self: flex-end;
  width: 100%;
  height: 40%;
  text-transform: capitalize;
  white-space: normal;
  word-break: break-word;
  font-size: 85px;
  font-family: Syne;
  color: rgb(251, 251, 251);
  border-radius: 15px;
  -webkit-text-stroke: 1px rgba(255, 0, 200, 0);
  -webkit-background-clip: text;
          background-clip: text;
  background-position: center;
  background-size: 800px;
  line-height: 0.9;
  text-align: justify;
  filter: contrast(100%) brightness(150%) saturate(150%);
}
#container #bot-section .top-top-right.todo-card {
  grid-area: top-top-right;
  border: 1px solid rgba(128, 128, 128, 0.417);
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row-reverse;
  padding: 10px;
  border-radius: 20px;
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  transition: all 0.3s ease;
}
#container #bot-section .top-top-right.todo-card .textdiv {
  width: 60%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  text-align: center;
}
#container #bot-section .top-top-right.todo-card .textdiv h1 {
  width: 70%;
  color: white;
  font-family: Syne;
  font-size: 30px;
  line-height: 1;
  text-transform: uppercase;
}
#container #bot-section .top-top-right.todo-card .textdiv button {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  text-align: justify;
  text-transform: uppercase;
  font-weight: bold;
  padding: 10px 40px;
  color: white;
  border-radius: 5px;
  margin-top: 10px;
  background-color: rgba(101, 101, 101, 0.147);
  border: none;
  border: 1px solid rgba(128, 128, 128, 0.807);
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  transition: all 0.5 ease;
}
#container #bot-section .top-top-right.todo-card .textdiv button:hover {
  background-color: rgba(101, 101, 101, 0.693);
  transform: scale(0.99);
}
#container #bot-section .top-top-right.todo-card .imgdiv {
  overflow: hidden;
  border-radius: 15px;
  height: 100%;
  width: 40%;
  pointer-events: none;
  border-right: 1px solid rgba(255, 255, 255, 0.401);
}
#container #bot-section .top-top-right.todo-card .imgdiv img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  filter: contrast(150%) saturate(-50%);
}
#container #bot-section .todo-card:hover {
  scale: 0.98;
}
#container #bot-section .top-bot-right.dailyplanner-card {
  grid-area: top-bot-right;
  border: 1px solid rgba(128, 128, 128, 0.417);
  display: flex;
  padding: 10px;
  border-radius: 20px;
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  transition: all 0.3s ease;
}
#container #bot-section .top-bot-right.dailyplanner-card .textdiv {
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
}
#container #bot-section .top-bot-right.dailyplanner-card .textdiv h1 {
  width: 100%;
  color: white;
  font-family: Syne;
  font-size: 42px;
  line-height: 1;
  white-space: normal;
  word-break: break-word;
  overflow-wrap: break-word;
  text-transform: uppercase;
}
#container #bot-section .top-bot-right.dailyplanner-card .textdiv button {
  align-self: flex-start;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  padding: 10px 40px;
  color: white;
  border-radius: 5px;
  margin-top: 10px;
  background-color: rgba(101, 101, 101, 0.147);
  border: none;
  border: 1px solid rgba(128, 128, 128, 0.807);
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  transition: all 0.5 ease;
}
#container #bot-section .top-bot-right.dailyplanner-card .textdiv button:hover {
  background-color: rgba(101, 101, 101, 0.693);
  transform: scale(0.99);
}
#container #bot-section .top-bot-right.dailyplanner-card .imgdiv {
  height: 100%;
  width: 50%;
  overflow: hidden;
  border-radius: 15px;
  height: 100%;
  pointer-events: none;
  border-left: 1px solid rgba(255, 255, 255, 0.401);
}
#container #bot-section .top-bot-right.dailyplanner-card .imgdiv img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  pointer-events: none;
}
#container #bot-section .dailyplanner-card:hover {
  scale: 0.98;
}
#container #bot-section .bot-top-left.weather-sec2 {
  border: 1px solid rgba(128, 128, 128, 0.417);
  font-family: helvetica neue, open sans, Helvetica, Arial, sans-serif;
  border-radius: 20px;
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  grid-area: bot-top-left;
  overflow: hidden;
  gap: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: white;
  font-weight: bold;
}
#container #bot-section .bot-top-left.weather-sec2 .left {
  width: 70%;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  background: linear-gradient(to right, #202020, rgba(87, 6, 120, 0.368627451));
  box-shadow: inset -8px 0px 10px 0.2px rgb(255, 160, 255);
}
#container #bot-section .bot-top-left.weather-sec2 .left p {
  letter-spacing: 3px;
  font-size: 20px;
  padding: 10px;
  padding-left: 50px;
  margin: 5px;
  border-radius: 8px;
}
#container #bot-section .bot-top-left.weather-sec2 .right {
  width: 30%;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  background: linear-gradient(to left, rgba(32, 32, 32, 0.8235294118), rgba(87, 6, 120, 0.368627451) 50%);
  box-shadow: inset 8px 0px 10px 0.2px rgb(255, 160, 255);
}
#container #bot-section .bot-top-left.weather-sec2 .right p {
  letter-spacing: 3px;
  border-radius: 8px;
  margin: 5px;
  font-size: 20px;
  padding: 10px 20px;
}
#container #bot-section .bot-top-left::before {
  content: "";
  position: absolute;
  top: 0%;
  left: 0;
  width: 100%;
  height: 100%; /* height of background */
  background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 1799 1799' xmlns='http://www.w3.org/2000/svg'%3E%3Cfilter id='noiseFilter'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='0.65' numOctaves='3' stitchTiles='stitch'/%3E%3C/filter%3E%3Crect width='100%25' height='100%25' filter='url(%23noiseFilter)'/%3E%3C/svg%3E");
  background-blend-mode: screen;
  z-index: 3;
  opacity: 0.2;
}
#container #bot-section .bot-bot-left.weather-sec3 {
  border: 1px solid #b562d6;
  border-radius: 20px;
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  grid-area: bot-bot-left;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}
#container #bot-section .bot-bot-left.weather-sec3 h1 {
  font-size: 100px;
  color: white;
  font-family: nasa;
}
#container #bot-section .bot-bot-left.weather-sec3 h1 .seconds {
  font-family: helvetica neue, open sans, Helvetica, Arial, sans-serif;
  font-size: 50px;
}
#container #bot-section .bot-bot-left::before {
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  height: 100%; /* height of background */
  background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 1799 1799' xmlns='http://www.w3.org/2000/svg'%3E%3Cfilter id='noiseFilter'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='0.65' numOctaves='3' stitchTiles='stitch'/%3E%3C/filter%3E%3Crect width='100%25' height='100%25' filter='url(%23noiseFilter)'/%3E%3C/svg%3E");
  background-blend-mode: screen;
  z-index: 3;
  opacity: 0.2;
}
#container #bot-section .bot-mid-left.moti-card {
  grid-area: bot-mid-left;
  border: 1px solid rgba(128, 128, 128, 0.417);
  border-radius: 20px;
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  display: flex;
  flex-direction: column-reverse;
  justify-content: space-between;
  padding: 10px;
  border-radius: 20px;
  backdrop-filter: blur(10px);
  transition: all 0.3s ease;
}
#container #bot-section .bot-mid-left.moti-card .textdiv {
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
}
#container #bot-section .bot-mid-left.moti-card .textdiv div h1,
#container #bot-section .bot-mid-left.moti-card .textdiv div h2 {
  color: white;
  font-family: Syne;
  line-height: 1;
  pointer-events: none;
  white-space: normal;
  word-break: break-word;
  overflow-wrap: break-word;
  text-transform: uppercase;
}
#container #bot-section .bot-mid-left.moti-card .textdiv div h1 {
  font-size: 40px;
}
#container #bot-section .bot-mid-left.moti-card .textdiv div h2 {
  font-size: 50px;
}
#container #bot-section .bot-mid-left.moti-card .textdiv button {
  height: 85%;
  margin-right: 3px;
  text-align: center;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  text-transform: uppercase;
  font-weight: bold;
  padding: 10px;
  color: white;
  border-radius: 7px;
  background-color: rgba(135, 192, 209, 0.067);
  border: none;
  border: 1px solid rgba(128, 128, 128, 0.807);
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  transition: all 0.5 ease;
}
#container #bot-section .bot-mid-left.moti-card .textdiv button:hover {
  background-color: rgba(101, 101, 101, 0.693);
  transform: scale(0.99);
}
#container #bot-section .bot-mid-left.moti-card .imgdiv {
  width: 100%;
  height: 70%;
  border-radius: 15px;
  pointer-events: none;
  border-bottom: 1px solid rgba(255, 255, 255, 0.401);
  overflow: hidden;
}
#container #bot-section .bot-mid-left.moti-card .imgdiv img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: 50% 20%;
     object-position: 50% 20%;
  pointer-events: none;
  filter: contrast(150%);
}
#container #bot-section .moti-card:hover {
  scale: 0.98;
}
#container #bot-section .bot-mid-right.pomo-card {
  grid-area: bot-mid-right;
  border: 1px solid rgba(128, 128, 128, 0.417);
  border-radius: 20px;
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  display: flex;
  justify-content: space-between;
  flex-direction: column-reverse;
  padding: 10px;
  border-radius: 20px;
  backdrop-filter: blur(10px);
  transition: all 0.3s ease;
}
#container #bot-section .bot-mid-right.pomo-card .textdiv {
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
  gap: 10px;
}
#container #bot-section .bot-mid-right.pomo-card .textdiv div h1,
#container #bot-section .bot-mid-right.pomo-card .textdiv div h2 {
  color: white;
  font-family: Syne;
  line-height: 1;
  pointer-events: none;
  white-space: normal;
  word-break: break-word;
  overflow-wrap: break-word;
  text-transform: uppercase;
}
#container #bot-section .bot-mid-right.pomo-card .textdiv div h1 {
  font-size: 40px;
}
#container #bot-section .bot-mid-right.pomo-card .textdiv div h2 {
  font-size: 50px;
}
#container #bot-section .bot-mid-right.pomo-card .textdiv button {
  height: 85%;
  margin-right: 3px;
  text-align: center;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  text-transform: uppercase;
  font-weight: bold;
  padding: 10px;
  color: white;
  border-radius: 7px;
  background-color: rgba(135, 192, 209, 0.067);
  border: none;
  border: 1px solid rgba(128, 128, 128, 0.807);
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  transition: all 0.5 ease;
}
#container #bot-section .bot-mid-right.pomo-card .textdiv button:hover {
  background-color: rgba(101, 101, 101, 0.693);
  transform: scale(0.99);
}
#container #bot-section .bot-mid-right.pomo-card .imgdiv {
  width: 100%;
  height: 70%;
  border-radius: 15px;
  pointer-events: none;
  border-bottom: 1px solid rgba(255, 255, 255, 0.401);
  overflow: hidden;
}
#container #bot-section .bot-mid-right.pomo-card .imgdiv img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: 50% 50%;
     object-position: 50% 50%;
  pointer-events: none;
}
#container #bot-section .pomo-card:hover {
  scale: 0.98;
}
#container #bot-section .bot-right.kanban-card {
  grid-area: bot-right;
  border: 1px solid rgba(128, 128, 128, 0.417);
  border-radius: 20px;
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  display: flex;
  flex-direction: column-reverse;
  justify-content: space-between;
  padding: 10px;
  border-radius: 20px;
  backdrop-filter: blur(10px);
  transition: all 0.2s ease;
}
#container #bot-section .bot-right.kanban-card .textdiv {
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
}
#container #bot-section .bot-right.kanban-card .textdiv div h1,
#container #bot-section .bot-right.kanban-card .textdiv div h2 {
  color: white;
  font-family: Syne;
  line-height: 1;
  pointer-events: none;
  white-space: normal;
  word-break: break-word;
  overflow-wrap: break-word;
  text-transform: uppercase;
}
#container #bot-section .bot-right.kanban-card .textdiv div h1 {
  font-size: 40px;
}
#container #bot-section .bot-right.kanban-card .textdiv div h2 {
  font-size: 50px;
}
#container #bot-section .bot-right.kanban-card .textdiv button {
  height: 85%;
  margin-right: 3px;
  text-align: center;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  text-transform: uppercase;
  font-weight: bold;
  padding: 10px;
  color: white;
  border-radius: 7px;
  background-color: rgba(135, 192, 209, 0.067);
  border: none;
  border: 1px solid rgba(128, 128, 128, 0.807);
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  transition: all 0.5 ease;
}
#container #bot-section .bot-right.kanban-card .textdiv button:hover {
  background-color: rgba(101, 101, 101, 0.693);
  transform: scale(0.99);
}
#container #bot-section .bot-right.kanban-card .imgdiv {
  width: 100%;
  height: 70%;
  border-radius: 15px;
  pointer-events: none;
  border-bottom: 1px solid rgba(255, 255, 255, 0.401);
  overflow: hidden;
}
#container #bot-section .bot-right.kanban-card .imgdiv img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: 50% 20%;
     object-position: 50% 20%;
  pointer-events: none;
}
#container #bot-section .kanban-card:hover {
  scale: 0.98;
}

@keyframes hero-gradient-animation {
  0% {
    --c-0: hsla(266.99999999999983, 1%, 12%, 1);
    --s-start-0: 9%;
    --s-end-0: 55%;
    --y-0: 80%;
    --x-0: 85%;
    --x-1: 60%;
    --c-1: hsla(335.9999999999997, 2%, 22%, 1);
    --s-start-1: 5%;
    --s-end-1: 72%;
    --y-1: 24%;
    --x-2: 13%;
    --y-2: 82%;
    --c-2: hsla(53.999999999999886, 0%, 0%, 0.49);
    --s-start-2: 5%;
    --s-end-2: 52%;
    --c-3: hsla(299, 4%, 36%, 1);
    --y-3: 7%;
    --x-3: 24%;
    --s-start-3: 13%;
    --s-end-3: 68%;
  }
  100% {
    --c-0: hsla(266.99999999999943, 0%, 12%, 1);
    --s-start-0: 9%;
    --s-end-0: 55%;
    --y-0: 94%;
    --x-0: 31%;
    --x-1: 2%;
    --c-1: hsla(0, 4%, 19%, 1);
    --s-start-1: 5%;
    --s-end-1: 72%;
    --y-1: 25%;
    --x-2: 98%;
    --y-2: 20%;
    --c-2: hsla(54.000000000000036, 0%, 0%, 0.49);
    --s-start-2: 5%;
    --s-end-2: 52%;
    --c-3: hsla(298.99999999999994, 3%, 41%, 1);
    --y-3: 92%;
    --x-3: 95%;
    --s-start-3: 13%;
    --s-end-3: 68%;
  }
}
@property --c-0 {
  syntax: "<color>";
  inherits: false;
  initial-value: hsl(267, 1%, 12%);
}
@property --s-start-0 {
  syntax: "<percentage>";
  inherits: false;
  initial-value: 9%;
}
@property --s-end-0 {
  syntax: "<percentage>";
  inherits: false;
  initial-value: 55%;
}
@property --y-0 {
  syntax: "<percentage>";
  inherits: false;
  initial-value: 80%;
}
@property --x-0 {
  syntax: "<percentage>";
  inherits: false;
  initial-value: 85%;
}
@property --x-1 {
  syntax: "<percentage>";
  inherits: false;
  initial-value: 60%;
}
@property --c-1 {
  syntax: "<color>";
  inherits: false;
  initial-value: hsl(336, 2%, 22%);
}
@property --s-start-1 {
  syntax: "<percentage>";
  inherits: false;
  initial-value: 5%;
}
@property --s-end-1 {
  syntax: "<percentage>";
  inherits: false;
  initial-value: 72%;
}
@property --y-1 {
  syntax: "<percentage>";
  inherits: false;
  initial-value: 24%;
}
@property --x-2 {
  syntax: "<percentage>";
  inherits: false;
  initial-value: 13%;
}
@property --y-2 {
  syntax: "<percentage>";
  inherits: false;
  initial-value: 82%;
}
@property --c-2 {
  syntax: "<color>";
  inherits: false;
  initial-value: hsla(54, 0%, 0%, 0.49);
}
@property --s-start-2 {
  syntax: "<percentage>";
  inherits: false;
  initial-value: 5%;
}
@property --s-end-2 {
  syntax: "<percentage>";
  inherits: false;
  initial-value: 52%;
}
@property --c-3 {
  syntax: "<color>";
  inherits: false;
  initial-value: hsl(299, 4%, 36%);
}
@property --y-3 {
  syntax: "<percentage>";
  inherits: false;
  initial-value: 7%;
}
@property --x-3 {
  syntax: "<percentage>";
  inherits: false;
  initial-value: 24%;
}
@property --s-start-3 {
  syntax: "<percentage>";
  inherits: false;
  initial-value: 13%;
}
@property --s-end-3 {
  syntax: "<percentage>";
  inherits: false;
  initial-value: 68%;
}/*# sourceMappingURL=style.css.map */